<h1>Products</h1>
<%= link_to "Add a New Product", "/products/new" %>

<% @products.each do |product| %>
  <p><%= link_to product.name.capitalize, product_path(product.id) %> $<%= product.formatted_price %></p>
  <p><%= product.description %></p>
<% end %>
